# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.sourcelink.json
# AppLogging.props etc generated during build
*.props

# IDE
*.suo
*.user
*.userosscache
*.ide
.vs/
.idea/
*.DS_Store

# Test platform
coverage/
*.coverage
*.coveragexml

# OS
Thumbs.db
ehthumbs.db
